div {
  font-size: 2rem;
  margin: 10px;
}
a {
  color: aliceblue;
  background-color: #000;
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
}
.activado {
  color: #000;
  background-color: rgba(255, 0, 0, 0.649);
  border: orange;
  letter-spacing: 2px;
  padding: 13px;
  box-shadow: 1px 1px 15px rgb(228, 99, 7);

}
nav {
  display: block;
  flex-direction: row;
  text-align: center;
  background-color: rgb(83, 83, 84);
  padding: 10px;
  width: 100%;
  height: 10vh;
  border-bottom: 1px solid #000;
  box-shadow: 1px 1px 10px #000;
}
